.password-update {
    padding: 20px;

}
.password-update button {
    cursor: pointer;
}
.change-password-form {
    width: 50%;

    background-color: #fff;

    box-shadow: 3px 2px 10px 3px #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
}   
.change-password-form h2 {
    letter-spacing: 1px;
    text-align: center;
    padding: 20px;
}


@media screen and (max-width:991px) {
    .password-update {
        padding:20px 0;
    }
    .change-password-form {
        width: 90%;
        padding: 0;
    }
    
}
@media screen and (max-width:768px) {
    .change-password-form {
        width: 100%;
    }
    
}